#tab_gravityflow #form_settings {
    position: relative;
}
#flowchart-icon{
    font-size:20px;
    position: absolute;
    top: 0;
    right: 20px;
}
.rtl #flowchart-icon{
    left: 20px;
    right: auto;
}

#zoom-level{
    color:gray;
}
#flowchart-toolbar{
    clear:both;
    width:100%;
    text-align:right;
    font-size:20px;
    position: absolute;
    top: 0;
    right: 20px;
}
.rtl #flowchart-toolbar{
    text-align:left;
    left: 20px;
}
#flowchart-toolbar a{
    margin-left: 5px;
}
.rtl #flowchart-toolbar a{
    margin-right: 5px;
}
#myholder svg{
    cursor: -webkit-grab;
    cursor:-moz-grab;
}

#flowchart-spinner{
    color: silver;
}
.add-new-h2{
    z-index:99;
}
