#flowchart-icon{
    float:right;
    font-size:20px;
    position: absolute;
    top: 150px;
    right: 20px;
}

#zoom-level{
    color:gray;
}
#flowchart-toolbar{
    clear:both;
    width:100%;
    text-align:right;
    font-size:20px;
    position: absolute;
    top: 150px;
    right: 20px;
}
#flowchart-toolbar a{
    margin-left: 5px;
}
#myholder svg{
    cursor: -webkit-grab;
    cursor:-moz-grab;
}

#flowchart-spinner{
    color: silver;
}
.add-new-h2{
    z-index:99;
}
